body{
background-color: gray;
}
.row{
    background-color: white;
   

}
.moqups{
    font-weight:bold;
    font-size:20px;
    font-style: italic;
}
.category{
    display:block;
    align-items: center;
    padding-right:50px;
   }
.category a{
    color:black;

}


.blog{
   
    bottom:6px;
    background-color:whitesmoke;
    
}
.email{
    
    bottom:19px;
    display:inline;

}

.primary{
   
    border-radius:10px;
    color:white;
    
}
.secondpart{
  
    border-radius:10px;
    color:white;

       
}

.img{
    height:200px;
    padding-left:35px;

    
}
.load{
    border-radius: 20px;
    font-size:12px;
    font-weight:bold
}